<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
</head>
<body>

    <header>Mongo Movies</header>
    
    <nav>

      <p> | </p>

      <a href="../">
        <p class="btn"> Home </p>
      </a>

      <p> | </p>     

      <a href="">
        <p class="btn">Abount</p>
      </a>

      <p> | </p>

    </nav>

    <form action="<%= action %>" method="POST">           
        <p>Titulo<input type="text" name="titulo" value="<%= list.titulo %>" /></p>        
        <p>Duração<input type="number" name="duracao" value="<%= list.duracao %>" /></p>
        <p>Data Lançamento<input type="date" name="dataLancamento" value="<%= list.dataLancamento %>" /></p>        
        <p>Categorias<input type="text" name="categorias" value="<%=list.categorias %>" /></p>         
        <p>Imagem<input type="url" name="imagem"></p>        
        <p>Sinopse<textarea name= "sinopse" value="<%= list.sinopse %>"></textarea></p>
        <input type="submit" value="Salvar" />
    </form>   

    
</body>
</html>